<h1 class="navbar-inner" style="height:50px; padding-top:10px;">Editing Product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product, class: "btn btn-small btn-primary" %> |
<%= link_to 'Back', products_path, class: "btn btn-small btn-primary" %>
